/* 例：修改登录页背景图 */
layout-passport > .container{
    background-position:center !important;
    background-repeat:repeat !important;
    background-size: cover !important;
    background-image:url(./login-img.png) !important;
}

layout-passport .title {
    font-family: Courier New, Menlo, Monaco, Consolas, monospace !important;
}